  <div class="score">
    <p>SCORE: <span>0</span></p>
  </div>
  <div class="question-container">
    <div class="question">rgb(0,0,0)</div>
    <div class="options">
      <div class="option"></div>
      <div class="option"></div>
      <div class="option"></div>
    </div>
  </div>
  <div class="result won">
   <span>Ganaste!!</span>
   <div class="close">
       <a href="#">Continuar</a>
   </div>
</div>

<div class="result lost">
   <span>Nooooombe</span>
   <div class="close">
       <a href="#">Jugar de nuevo</a>
   </div>
</div>
<script type="text/javascript" src="js/app.js"></script>