  <div class="score">
    <p>SCORE: <span>0</span></p>
  </div>
  <div class="question-container">
    <div class="question">rgb(0,0,0)</div>
    <div class="options">
      <div class="option"></div>
      <div class="option"></div>
      <div class="option"></div>
    </div>
  </div>
  <div class="result won">
   <span>Ganaste!!</span>
   <div class="close">
       <a href="#">Continuar</a>
   </div>
</div>

<div class="result lost">
   <span>Nooooombe</span>
   <h2>Score: <span id="finalScore"></span></h2>
   <%= form_for(@competitor) do |competitor| %>
   	<%= hidden_field_tag 'competitor[score]', 0 ,id: 'hiddenScoreInput' %>
   	<%= competitor.email_field :email,placeholder: 'Corre electrónico', class: 'email-input' %>
   	<%= competitor.submit 'Registrar Puntaje', id: 'registerScore' %>
   <% end %>
   <div class="close">
       <a href="#">Jugar de nuevo</a>
   </div>

</div>
<script type="text/javascript">

	var correct;
	var score = 0;
	game();

	$('.option').on('click', function(){
	  guess( $(this));
	});
	$('.close').on('click', function(){
		event.preventDefault(); //Con el anchor recargo toda la página una vez más y esto ocasiona que se vuelva a cargar el script
	  $('.result').hide();
	  $('.option').removeClass('scale');

	  game();
	});

	function game(){
	  correct = Math.floor(Math.random() * 3);

	  $('.option').each( function(index) {
	    var color = generateColor();
	    $(this).css('background-color',color);

	    if ( index == correct){
	      $('.question').text(color);
	    }
	  });
	}

	function guess(elm){
	    $(elm).addClass('scale');
	    if(elm.index() == correct){
	      console.log("gol");
	      score++;
	      $('.result.won').show();
	      //alert("Buena");
	    }else{
	      $('.result.lost').show();
	      $('#finalScore').text(score);
	      $('#hiddenScoreInput').val(score);
	      score = 0;
	      //alert("Mala");
	    }
	    $('.score p span').text(score);
	}




	function generateColor(){
	  return 'rgb(' + random() + ',' + random() + ',' + random() +')';
	}

	function random() {
	  return Math.floor(Math.random() * 255);
	}

</script>