<h1>Competitors#index</h1>

<table>
	<thead>
		<th>Competidor</th>
		<th>Email</th>
		<th>Puntaje</th>
	</thead>
	<tbody>
	<% @competitors.each_with_index do |competitor,index| %>
		<tr>
			<td><%= index +1 %></td>
			<td><%= competitor.email %></td>
			<td><%= competitor.score %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<div id = "playAgainContainer">
	<%= link_to "Volver a jugar", root_path, class: "play-again" %>
</div>